

.container {
    background-color: aqua;

width: 500px;
}
.textContent {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    background-color: aquamarine;
    width: 500px;
}

.imageItem {
    width: 100px;
    height: 100px;
    justify-content: space-between;
}
