

.products {
    &__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // grid-gap: 4px;
    }

    &__items {
        width: 200px;
        height: 250px;
        // padding: 12px;
        // margin-bottom: 30px;
        // background-color: aqua;
    }

    &__offertag {
        display: flex;
        &-image {
            position: relative;
        }
        &-price {
            position: absolute;
        }
    }

    &__cards {
        background-color: #fff;
        border-radius: 4px;
        margin: 8px;
        width: 200px;
        height: 250px;
        
        &-image {
            width: 100px;
            height: 100px;
        }

        &-duration {
            font-size: 12px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-left: 8px;
            border: 1px solid rgb(246, 241, 241);
            width: fit-content;
            background-color: rgb(249, 247, 247);

            &-icon {
                width: 12px;
                height: 12px;
            }
        }

        &-title    {
            font-size: 14px;
            font-weight: 600;
            height: 36px;
            padding: 8px;
            text-align: left;
        }

        &-weight {
            color: rgb(128, 126, 126);
            text-align: left;
            padding: 8px;
        }

        &-priceBtn {
            display: flex;
            justify-content: space-between;
            margin: 8px;

            &-price {
                font-weight: bold;
                text-align: left;
                padding: 8px;
    
                &-mrp {
                    color: rgb(110, 108, 108);
                    text-decoration: line-through;
                }
            }
    
            &-addBtn {
                align-self: center;
            }

            &-btn {
                width: 66px;
                height: 31px;
                color: green;
                border: none;
                border: 1px solid green;
                background-color: rgb(241, 246, 241);
                border-radius: 4px;
                font-weight: bold;
            }
        }

        
    }
}