
.card {
    background-color: aqua;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
}

.image {
    text-align: center;
    padding: 10px;
}

.title, .weightText {
    text-align: left;
}