

.menuItemsContainer {
    border: 1px solid rgb(248, 244, 244);
    align-items: center;
    // justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.menuItems {
    width: 1220px;
    justify-content: space-around;
    align-items: center;
    color: rgb(148, 143, 143);
}